# pixi environments
.pixi/*
!.pixi/config.toml

# pycache
__pycache__/

# distribution files
dist/

# vscode settings
.vscode/

# cache
cache/

# test and archive files
test.txt
agr_http
src_old/

# environment variables
.env

# wheel files
*.whl